@import "c/tailwindCss";

.credential-form-modal {
  --dxp-g-spacing-medium: 0px;
  --slds-c-modal-content-color-background: var(--primary-light-color);
}
.credential-form-modal:where([data-theme="dark"], [data-theme="dark"] *) {
  --slds-c-modal-content-color-background: var(--primary-dark-color);
}
